<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.AccountMapper">
	<select id="selectByEmail" resultType="com.app.security.JwtUser">
		SELECT 
			* 
		FROM ACCOUNT
		WHERE
			EMAIL = #{param1}
	</select>
	
	<update id="updateAccessDateByEmail">
		UPDATE
			ACCOUNT
		SET
			ACCESS_DATE = NOW()
		WHERE
			EMAIL = #{param1}
	</update>

</mapper>